<a href="https://colab.research.google.com/github/david-brown-db/hello-world/blob/main/BigQuery_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'pyhellowworld' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=pyhellowworld:US:bquxjob_4e277a18_185eeb0789f)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_4e277a18_185eeb0789f') # Job ID inserted based on the query results selected to explore
print(job.query)

-- This query shows a list of the daily top Google Search terms.
SELECT
   refresh_date AS Day,
   term AS Top_Term,
       -- These search terms are in the top 25 in the US each day.
   rank,
FROM `bigquery-public-data.google_trends.top_terms`
WHERE
   rank = 1
       -- Choose only the top term each day.
   AND refresh_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 2 WEEK)
       -- Filter to the last 2 weeks.
GROUP BY Day, Top_Term, rank
ORDER BY Day DESC
   -- Show the days in reverse chronological order.

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_4e277a18_185eeb0789f') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

           Day                         Top_Term  rank
0   2023-01-25                   Justin Roiland     1
1   2023-01-24           Oscar nominations 2023     1
2   2023-01-23                              UFC     1
3   2023-01-22                   Lunar New Year     1
4   2023-01-21               Kansas City Chiefs     1
5   2023-01-20                     David Crosby     1
6   2023-01-19                 Riyadh XI vs PSG     1
7   2023-01-18                      Jay Briscoe     1
8   2023-01-17              Russell Gage injury     1
9   2023-01-16  Dr. Martin Luther King, Jr. Day     1
10  2023-01-15                         Chargers     1
11  2023-01-14                       Kanye West     1
12  2023-01-13                Priscilla Presley     1
13  2023-01-12                        Jeff Beck     1

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [ ]:
results.describe()

       rank
count  14.0
mean    1.0
std     0.0
min     1.0
25%     1.0
50%     1.0
75%     1.0
max     1.0